* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

}

.head {
  display: flex;
  margin-top: 57px;


  
}
.der{
  align-items: center;
}
ul{
  display: flex;
  gap: 60px;
}
a{
  color: black;

}

.mine{
  display: flex;
  gap: 40px;
}
.fa{
  background-color: green;
  border-radius: 14px;
  color: white;
  padding: 13px ;
  display: flex;
  gap: 15px;
  padding-right:150px ;

}
.fa-searchengin{
  font-size: 30px;
}
a:hover{

  color: green;
}
