* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

}

.head {
  display: flex;
  margin-top: 57px;


  
}
.der{
  align-items: center;
}
ul{
  display: flex;
  gap: 60px;
}
a{
  color: black;

}

.mine{
  display: flex;
  gap: 40px;
}
.fa{
  background-color: #39DB4A;
  border-radius: 14px;
  color: white;
  padding: 13px ;
  display: flex;
  gap: 15px;
  padding-right:150px ;

}
.fa-searchengin{
  font-size: 30px;
}
a:hover{

  color: #39DB4A;
}
.section-1{
  display: flex;
  gap: 20px;
  padding: 100px 50px;

justify-content: space-between;
}
.order{
  background-color: #39DB4A;
 ;
  color: white;
  border-radius: 15px;
  padding: 9px 19px ;
}
h1{
  font-size: 42px;
}
.fle{
  display: flex;
  margin-right: 120px;

}
.dolter{
  margin-left: 300px;
}
.dolter-1{
  margin-top: 300px;
}